<% provide(:title, title_girl(@girl)) %>
<% provide(:keywords, keywords_girl(@girl)) %>
<% provide(:description, @girl.name_cn + '的详细资料，关于'+@girl.name_cn+'的一切，更多女优，和大家交流，找到精神寄托尽在女优大全！') %>
<div class="clearfix">
  <div class="pull-left">
    <img src="<%= @girl.head_pic %>" alt="<%= @girl.name_cn %>的图片" />
  </div>
  <div>
    <p><%= @girl.name_cn %><small><%= @girl.name %></small></p>
    <div>生日：<span><%= @girl.birthday.to_date %></span></div>
    <div>出道：<span><%= @girl.debut %></span></div>
    <div>
      三围：
      <span title="胸围"><%= @girl.bust %></span> -
      <span title="腰围"><%= @girl.waist %></span> -
      <span title="臀围"><%= @girl.hip %></span>
    </div>
  </div>
</div>

<div>
  <p><%= @girl.name_cn %>的作品集<small>亲，这里没有下载链接哦！</small></p>
  <% unless @girl.works.blank? %>
  <ul>
    <% @girl.works.each do |work| %>
    <li><%= work.name_cn.blank? ? work.name : work.name_cn %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div>
  <p><%= @girl.name_cn %>的写真集<small>亲，撸起来！</small></p>
  <% unless @girl.works.blank? %>
      <ul>
        <% @girl.works.each do |work| %>
            <li><%= work.name_cn.blank? ? work.name : work.name_cn %></li>
        <% end %>
      </ul>
  <% end %>
</div>